body {
  font-family: sans-serif;
  background-color: white
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: #255b95
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

#homeContainer a {
  display: inline-block;
  
}

form div {
  margin: 1em;
  display: inline-block;
}

#nameOfAppHeader {
  color:  #255b95
}

#contactContainer {
  display: grid;
  width: 15vw;
  grid-template-columns: 1fr;
}

#contact {
  list-style-type: none;
  border: 2px solid white;
  padding: 1em 1.5em
}

#messageList {
  width: 60em;
  height: 60em;
  margin-left: 20%;
}

#sentMessage {
  list-style-type: none;
  
  padding: 1em 1.5em;
  background-color: rgb(51, 138, 224);
  color: white;
  margin: 5px
}

.sentTemporary {
  list-style-type: none;

  padding: 1em 1.5em;
  background-color: turquoise;
  color: white;
  margin: 5px
}

#receivedMessage {
  list-style-type: none;

  padding: 1em 1.5em;
  background-color: lightgray;
  color: white;
  margin: 5px
}

.receivedTemporary {
  list-style-type: none;
 
  padding: 1em 1.5em;
  background-color: lightgray;
  color: black;
  margin: 5px
}
