body {
  font-family: sans-serif;
  background-color: white
}

#authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vh
}

#authFormChild {
  height: 5vh;
  width: 20vw;
  font-size: 4vh
}

#authFormInput {
  height: 5vh;
  width: 20vw;
  font-size: 4vh
}

#loginButton {
  font-size: 3vh;
  padding: 5% 50% 5% 50%;
  border-radius: 4%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgb(51, 138, 224);
  color: white
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: rgb(51, 138, 224);
}
nav a {
  display: inline-block;
  align-self: flex-end;
  margin: 1em;
  color: white;
}

#navBarFlex {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  font-size: 1.5vh
}

#homeContainer a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#nameOfAppHeader {
  color:  rgb(51, 138, 224);
}

#contactListOutermostComponentContainer {
  display: flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100vw;
  height: 100vw;

}

#contactListComponentContainer {

  padding: 0 0 0 0;
  margin: 0 0 0 -7px;
  height: 100vh;
  flex-basis: 10%;
  /* display: grid;
  grid-template-areas: 
    "contactList messageAndTextFormDiv";
  grid-template-columns: 1fr 3fr; */
  display: flex;
}

#contactListSearchBar {
  font-size: 20px;
  margin-left: 50%;
  transform: translateX(-50%);

}

#contactContainer {
display: flex;

flex-direction: column;
padding: 0 0 0 0;
margin: 0 0 0 0;
width: 15%;
border-right: 3px solid gray;
height: 85vh;
  /* width: 100%; */
}

#contactListHeader {
  font-size: 25px;
  font-style: bold;
  color: rgb(51, 138, 224);
 
  align-self: center
  
}

#contactButton {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: none;
  border-right: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 20px;
  font-style: bold;
  height: 10vh;
  align-items: start;
  color: black;
}

.hide {
  display: none
}


#contactName {
  padding: 0 0 0 0;
  margin: 10px 0 10px 0;
  font-size: 1.1em;
  align-self: center
}

#mostRecentMessage {
  align-self: center;
  width: 60ch;
  word-wrap: break-word;
  padding: 0 0 0 10px;
  color: gray;
  overflow: hidden;
}

#sentMessage {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 75ch;
  padding: 1em 1.5em;
  background-color: rgb(51, 138, 224);
  color: white;
  margin: 5px;
  position: relative;
  left: 50%;
  border-radius: 10px
}

.sentTemporary {
  list-style-type: none;
  width: 75ch;
  padding: 1em 1.5em;
  background-color:  rgb(51, 138, 224);
  color: white;
  margin: 5px;
  position: relative;
  left: 50%;
  border-radius: 10px
}

#receivedMessage {
  list-style-type: none;
  width: 75ch;
  padding: 1em 1.5em;
  background-color: lightgray;
  color: white;
  margin: 5px;
  left: 10%;
  border-radius: 10px
}

.receivedTemporary {
  list-style-type: none;
  width: 75ch;
  padding: 1em 1.5em;
  background-color: lightgray;
  color: white;
  margin: 5px;
  border-radius: 10px;
  left: 10%;
}

#instructionsList {
  font-size: 16px
}



#messageAndTextFormDiv {
    /* grid-area: "messageAndTextFormDiv"; */
    flex-basis: 90%;
    flex-grow: 9;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    overflow: hidden;
 
    position: relative;
    
  }
  
  #headerDivInMessagePanel {
    position: absolute;
    z-index: 1;
    top: -1px;
    width: 100vw;
    height: 5vh;
    background-color: white;
    border-bottom: 1px solid black
  }
  
  #contactHeaderInMessagePanel {
    position: absolute;
    left: 300px
  }
  
  #textInput {
    
    margin-left: 10vw;
    font-size: 25px;
    
    padding: 5px 5px 5px 5px;
    width: 50vw;
    word-wrap: break-word;
    background-color: white;
  }
  
  #sendButton {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    background-color:  rgb(51, 138, 224);
    color: white
  }
  
